* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(212, 207, 207);
    font-family: 'arial', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
    box-shadow: 0 0 20px black;
    padding: 0 20px;
}

.logo {
    color: white;
    text-transform: lowercase;
    letter-spacing: -3px;
}

.logo span:first-child {
    color: #1d52ff;
}

.logo span:last-child {
    font-size: 12px;
    letter-spacing: normal;
}

ul {
    list-style: none;
}

.menu {
    display: flex;
    
}

.menu li a {
    padding: 17px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    
}

.menu li a:hover {
    background: #1d52ff;
}

.menu li a:hover + .submenu {
    display: block;
}

.submenu {
    display: none;
}