* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header {
    background-color: gray;
    text-align: center;
    padding: 0 0 0 0;
    font-size: 40px;
    background-image: url(background-image);
    background-size: 100%;
    box-shadow: 0 0 20px black;
}

.fundo-home {
    width: 100%;
    height: 259px;
    opacity: 20%;
}

.sobreofundo {
    position: absolute; 
}

.container {
    display: flex;
}

.navbar {
    width: 20%;
    background: #a3a3a3;
    padding: 20px;
}

.navbar ul {
    display: block;
    list-style: none;
    height: 330px;
}

.navbar ul li {
    background-color: blue;
    border-radius: 0 10px 0 10px;
    padding: 10px;
    margin: 15px 0 15px 0;
}


.navbar ul li a {
    position: relative;
    text-decoration: none;
    color: white;
}

.content {
    width: 80%;
    background: #e6dbdb;
    padding: 30px;
}

.footer {
    background: gray;
    text-align: center;
    padding: 20px 0;
}

.quem-somos {
    width: 400px;
}

.button {
    border: none;
    background: none;
    transition-duration: 0.5s;
}

.button li:hover {
    background-color: rgb(88, 176, 235);

}

h1 {
    margin-bottom: 20px;
}

p {
    margin-top: 10px;
}


