.conteudo {
    position: relative;
    border: 2px solid black;
    padding: 20px;
    height: 500px;
}

.quadrado {
    position: absolute;
    left: 50px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background: black;
    color: white;
    font-size: 12px;
}