a {
    color: red;
}

a:hover {
    color: green;
    font-weight: bold;
}

a:hover + .caixa {
    display: block;
}

a:visited {
    color: yellow;
}

.caixa {
    display: none;
    width: 150px;
    height: 150px;
    background: black;
}

.caixa:hover {
  
    width: 50px;
    height: 50px;
    background: palevioletred;
}

ul li:first-child {
    color: red;
}

ul li:last-child {
    color: blue;    
}

.exemplo1 p:first-child {
    color: red;
}

.exemplo2 p:nth-child(5) {
    color: orange;
}
